# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Built files

*.obj
*.exe
*.exe.*
*.exe_*
*.pdb
*.ilk

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
*build-*
*build-PKMDS_QT-Desktop_with_debugger-Debug/*

#VS2010

*.opensdf
*.ipch
*.log
*.idb
*.tlog
*.lastbuildstate
*.exp
*.cache
*.unsuccessfulbuild
pkmds_SAV_refactor.lib
SQLite_VS_2010.lib
*.bi
*.resources
*.pch
*.metagen
*.res

#General

*.ini