# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Built files

*.obj
*.exe
*.exe.*
*.exe_*
*.pdb
*.ilk

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
*build-*
*build-PKMDS_QT-Desktop_with_debugger-Debug/*

#VS2010

*.suo
*.sdf
*.opensdf
*.ipch
*.log
*.user
*.filters
*.vcxproj
*.idb
*.tlog
*.lastbuildstate
*.exp
SAV Object Refactor.lib
